@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --primary-color: #180161;
    --secondary-color: #2E236C;
    --yellow: #FABC3F;
    --teal: #41B3A2;
    --black: #1E201E;
    --grey: grey;
    --white: white;
}

.padding-left-30px{
    padding-left: 30px;
}

header{
    height: 100px;
    width: 100%;
    border-bottom: 4px solid;
    border-bottom-color: var(--teal);
    background: var(--primary-color);
}

nav{
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 20px;
}

nav ul{
    list-style: none;
    position: absolute;
    right: 0px;

}

nav li{
    display: inline;
    padding: 16px 20px;
    background-color: var(--primary-color);
}
nav li a{
    color: var(--teal);
    font-size: 17px;
    text-decoration: none;
}

nav li a:hover{
    color: var(--secondary-color)
}

a{
    color: var(--teal);
}

a:hover{
    color: var(--primary-color);
}

.servicios {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 15px;
    background-color: var(--white);
    padding: 10px;
    margin-top: 10px;
  }

.item-servicios{
    border: 1px solid royalblue;
    align-content: center;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

.title{
    text-align: center;
}

h2{
    font-size: 60px;
    font-weight: 60%;
    color: var(--black);
}

p{
    font-size: 18px;
}

h3{
    font-size: 28px;
}

.icon{
    font-size: 35px;
}

.quiensoy {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 15px;
    background-color: var(--white);
    padding-top: 10px;
    margin-top: 10px;
    background-image: url(../images/sexo\ anal.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 10%;
    padding-bottom: 10%;
}
.fumadon{
    background-color: black;
}

.image{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.button{
    display: inline-block;
    background-color: var(--primary-color);
    border: 1px var(--secondary-color);
    padding: 15px 18px 15px 18px;
    border-radius: 20px;
    color: var(--white);
    text-transform: uppercase;
    margin: 25px;
    text-decoration: none;
}

button:hover{
    background-color: #41B3A2;
    color: var(--black);
}

.contacto{
    width: 100%;
    background-color: var(--primary-color);
    padding-top: 7%;
}
input[type="text"], input[type="email"], input[type="tel"]{
    width: 100%;
    border: 1px solid var(--secondary-color);
    color: var(--black);
    border-radius: 10px;
    padding: 15px 10px;
    font-size: 16px;
}
label{
    color: var(--teal);
    font-size: 20px;
    padding-bottom: 5px;
    width: 100%;
}
textarea{
    width: 100%;
    border: 1px solid var(--secondary-color);
    color: var(--black);
    border-radius: 10px;
    padding: 15px 10px;
    font-size: 16px;
    resize: none;
}
.submit{
    width: 30%;
    border-radius: 15px;
    padding: 15px 10px;
    font-size: 20px;
    margin-left: 35%;
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--teal);
}

.contacto1{
    display: grid;
    align-content: center;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 10px;
    margin-top: 10px;
}

.contacto2{
    display: grid;
    align-content: center;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 10px;
    margin-top: 10px;
}

.footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: left;
    padding: 10px;
    background-color: var(--black);
    color: var(--teal);
}

.logo-footer{
    width: 60%;
    height: 150px;
}

footer p{
color: var(--white);
text-decoration: bold;
text-transform: uppercase;
}

.social li{
    display: inline;
    text-align: center;
}